* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Text */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;

  /* Color */
  color: #333;
}

/* START: HOME PAGE */
.home-container {
  /* Color */
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

.home-container ul {
  /* Display and box model */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.home-container ul li {
  /* Display and box model */
  padding: 20px;
}

.home-container ul li::after {
  /* Display and box model */
  content: "|";
  margin-left: 40px;

  /* Color */
  color: #f5f5f5;
}

.home-container ul li a {
  /* Display and box model */
  padding: 10px 20px;

  /* Color */
  color: #f5f5f5;
}

.home-container ul li a:hover {
  /* Display and box model */
  border-radius: 20px;

  /* Color */
  color: #333;
  background-color: #ccc;
}
/* END: HOME PAGE */

/* START: Menu Enhanced */
.container-menu {
  background-color: #3e5cca;
}

.container-menu .menu {
  /* Display and box model */
  height: 72px;
  padding: 0 58px;

  /* Text */
  text-align: center;
  font-size: 0;
}

.container-menu .menu .item {
  /* Display and box model */
  display: inline-block;

  min-width: 8%;
  height: 100%;

  border-right: 2px solid #333;

  /* Text */
  text-align: center;
  line-height: 80px;

  /* Other */
  cursor: pointer;
}

.container-menu .menu .item::before {
  content: "\25B6";
  font-size: 16px;
  margin-right: 10px;
  color: #f5f5f5;
}

.container-menu .menu .item:hover,
.container-menu .menu .item:hover::before,
.container-menu .menu .item:hover a {
  background-color: #fff;
  color: #333;
}

.container-menu .menu .item:last-child {
  border: none;
}

.container-menu .menu .item a {
  /* Color */
  color: #f5f5f5;

  /* Text */
  text-decoration: none;
  font-size: 16px;
  line-height: 3;
  font-weight: 500;
}

.container-menu .menu .item.active,
.container-menu .menu .item.active::before,
.container-menu .menu .item.active a {
  /* Display & Box Model */
  height: 100%;

  /* Color */
  background-color: #fff;
  color: #333;
}
/* END: Menu Enhanced */

/* START: Form Interactive */
.container-form {
  /* Display & Box Model */
  max-width: 568px;
  height: 100%;
  margin: 80px auto;
  border: 2px solid transparent;
  border-radius: 20px;
  padding-block: 30px;

  /* Color */
  background-color: #ceaca8;
}

.container-form:focus-within {
  border: 2px solid #ff147a;
  box-shadow: 5px 10px 8px 10px #888888;
}

.container-form h1 {
  padding-bottom: 30px;
  text-align: center;
}

.container-form .form {
  margin-inline: 60px;
  padding-inline: 60px;
}

.container-form .form .form-item {
  /* Display & Box Model */
  display: inline-block;
  margin-block: 2px;

  width: 100%;
}

.container-form .form label,
.container-form .form input {
  /* Display & Box Model */

  display: inline-block;
  margin-bottom: 10px;
  width: 100%;

  /* Text */
  font-size: 16px;
}

.container-form .form label {
  margin-left: 8px;
  font-weight: 500;
  cursor: pointer;
}

.container-form .form input {
  /* Display & Box Model */
  padding: 14px 20px;
  border: 1px solid transparent;
  border-radius: 20px;

  /* Color */
  background-color: #e9e9e9;

  /* Other */
  outline: none;
}

.container-form .form .form-item input:focus {
  border: 1px solid #00ff33;
}

.container-form
  .form
  .form-item.required
  input:invalid:not(:placeholder-shown) {
  border: 1px solid #ff1443;
}

.container-form .form .form-item.required label::after {
  content: "*";
  margin-left: 4px;
  color: #ff1443;
  font-size: 20px;
}

.container-form .form .form-item label + label[for="avt"]::after,
.container-form .form .form-item .form-item-radio label::after,
.container-form .form .form-item .checkbox-item label::after {
  content: "";
}

.form-item-radio {
  display: inline;
}

.container-form .form .form-item .form-item-radio {
  padding-right: 10px;
}

.container-form .form .form-item .form-item-radio input[type="radio"],
.container-form .form .form-item .form-item-radio label {
  display: inline;
  width: auto;
  margin: 0;
}

.container-form .form .form-item.avt label + label,
.container-form .form .form-item.avt img {
  width: 80px;
  height: 80px;
}

.container-form .form .form-item #avt {
  display: none;
}

.container-form .form .form-item .checkbox-list .checkbox-item {
  margin-top: 10px;
}

.container-form .form .form-item .checkbox-list .checkbox-item input,
.container-form .form .form-item .checkbox-list .checkbox-item label {
  width: auto;
  font-weight: normal;
}

.container-form .form .form-item button {
  /* Display & Box Model */
  display: block;
  width: 100%;
  padding: 16px 10px;
  margin-top: 10px;
  border: none;
  border-radius: 12px;

  /* Text */
  font-size: 16px;
  font-weight: 600;
  background-color: #ccc;
}

.container-form .form .form-item button:hover {
  color: #f5f5f5;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
/* END: Form Interactive */

/* START: Pricing Table */
.pricing-table {
  min-height: 100vh;
  background: linear-gradient(to bottom, #e2d8f7, #f3effb, #f7f4fb);
  font-family: "Poppins", sans-serif;
}

.pricing-table .container {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

.pricing-table .container .box {
  /* Display & Box Model */
  display: inline-block;
  max-width: 380px;
  width: 100%;
  margin-top: 40px;
  margin-right: 24px;
  padding: 10px 40px;
  border: 2px solid transparent;
  border-radius: 20px;

  /* Color */
  background: #f5f5f5;

  /* Text */
  text-align: center;
}
.pricing-table .container .box:last-child {
  margin-right: 0;
}

.pricing-table .container .box:hover {
  border: 2px solid #008dff;
  box-shadow: -1px 1px 34px 9px rgba(9, 30, 113, 0.4);
  -webkit-box-shadow: -1px 1px 34px 9px rgba(9, 30, 113, 0.4);
  -moz-box-shadow: -1px 1px 34px 9px rgba(9, 30, 113, 0.4);
  /* box-shadow: 7px -10px 24px rgba(124, 74, 249, 0.2); */
}

.pricing-table .container .box:nth-child(2) {
  background: #091e71;
  color: #f5f5f5;
}

.pricing-table .container .box:nth-child(2) h1::after {
  content: "Best Value";
  /* Display & Box Model */
  margin-left: 8px;
  padding: 4px 8px;
  border-radius: 12px;

  /* Color */
  background: #fff754;
  color: #c69427;

  /* Text */
  font-size: 10px;
  text-align: center;
}

.pricing-table .container .box h1 {
  /* Display & Box Model */
  margin-block: 20px;

  /* Text */
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.pricing-table .container .box .price {
  display: block;
  font-size: 60px;
  font-weight: 700;
  margin-block: 40px;
}

.pricing-table .container .box h2 {
  font-size: 22px;
  font-weight: 600;
}

.pricing-table .container .box .check-list {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
}

.pricing-table .container .box .check-list .check-list-item {
  line-height: 1.5;
  font-size: 18px;
  margin-left: 45px;
}

.pricing-table .container .box .check-list .check-list-item::before {
  content: "✓";
  margin-right: 8px;
}

.pricing-table .container .box button {
  /* Display & Box Model */
  width: 100%;
  padding-block: 14px;
  margin-block: 20px;
  border: none;
  border-radius: 50px;

  /* Color */
  background: #008dff;
  color: #f5f5f5;

  /* Text */
  font-size: 16px;
}
/* END: Pricing Table */

/* START: Blog Post */
.blog {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.blog .heading {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 40px;
}

.blog .heading h2 {
  max-width: 1190px;
  margin: 0 auto;
  font-weight: 600;
  line-height: 3.5;
}

.blog .main {
  width: 800px;
  margin: 24px auto;
}

.blog .main .title h1 {
  font-size: 42px;
  letter-spacing: -2px;
  font-weight: 600;
}

.blog .main .title h2 {
  font-size: 22px;
  line-height: 28px;
  margin-block: 24px;
  color: #6b6b6b;
}

.blog .main .author .info,
.blog .main .author .info-time {
  display: inline-block;
  font-size: 14px;
}

.blog .main .author .info img {
  border-radius: 50%;
}

.blog .main .author .info span {
  font-size: 14px;
  margin-inline: 6px;
}

.blog .main .author .info span a {
  text-decoration: none;
  color: #242424;
}

.blog .main .author .info span + span {
  /* Display & Box Model */
  width: 16px;
  height: 16px;
  padding: 4px;
  border-radius: 50%;

  /* Color */
  background-color: #437aff;
  color: #f5f5f5;

  /* Text */
  font-size: 12px;
}

.blog .main .author .info button {
  margin-left: 6px;
  padding: 6px 12px;
  border: 1px solid #242424;
  border-radius: 24px;
  background: transparent;
}

.blog .main .author .info-time {
  margin-left: 14px;
}

.blog .main .author .info-time span:last-child::before {
  content: "•";
  margin-inline: 6px;
}

.blog .main .action {
  /* Display & Box Model */
  display: block;
  height: 50px;
  margin-top: 32px;
  padding: 14px 8px;
  border-top: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);

  /* Color */
  color: #757575;

  /* Text */
  font-size: 14px;
}

.blog .main .action .action-left {
  display: inline;
  float: left;
}

.blog .main .action .action-right {
  display: inline;
  float: right;
}

.blog .main .action .action-left span,
.blog .main .action .action-right span {
  margin-inline: 6px;
  cursor: pointer;
}

.blog .main figure {
  margin-top: 56px;
}

.blog .main figure img {
  width: 100%;
  height: 100%;
}

.blog .main figure figcaption {
  margin-top: 10px;
  text-align: center;
}

.blog .main figure figcaption a {
  text-decoration: underline;
  font-size: 14px;
  color: #6b6b6b;
}

.blog .main p {
  margin-top: 42px;
}

.blog .main p::first-letter {
  font-size: 40px;
  color: red;
  float: left;
  line-height: 1;
  padding-right: 6px;
  margin-top: -2px;
}

.blog .main p:nth-of-type(1)::first-line {
  background-color: rgb(255, 234, 185);
}

.blog .main ol {
  margin-top: 42px;
  list-style: decimal;
}

.blog .main ol li {
  margin: 22px 0 9px 30px;
}

.blog .main ol li a {
  text-decoration: underline;
  color: currentColor;
}

.blog .main p,
.blog .main ol li {
  line-height: 1.4;
}

.blog .main p::selection,
.blog .main ol li::selection {
  color: #fffcc0;
  background: #c69427;
}

.blog .main h3:not(h1) {
  color: blue;
  margin-top: 42px;
  font-size: 26px;
  font-weight: 600;
}

.blog .main .dot {
  width: 100%;
  margin-top: 42px;
  text-align: center;
}
.blog .main .dot span {
  margin: 0 6px;
}

.blog .main .dot span:first-child {
  margin-left: 0;
}

.blog .main .dot span:last-child {
  margin-right: 0;
}

.blog .main blockquote {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
  line-height: 1.4;
}

.blog .main blockquote::before {
  content: "\201C";
  margin-right: 4px;
  font-size: 30px;
  font-weight: 600;
  color: #c69427;
}
.blog .main blockquote::after {
  content: "\201D";
  margin-left: 4px;
  font-size: 30px;
  font-weight: 600;
  color: #c69427;
}

/* END: Blog Post */
